.grids {
    padding-top: 20px;
    background-color: white;
    display: flex;
    .cols {
        &:first-child {
            width: 35%;
            height: 50vh;
            position: sticky;
            position: -webkit-sticky;
            top: 15px;
        }
        &:last-child {
            width: 65%;
        }
        .rights {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.column-right {
    background-color: white;
    form {
        .field {
            margin-bottom: 5px;
        }
        #field-input {
            width: 500px;
            height: 40px;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                padding: 0px 15px 0px 15px;
            }
        }
        #field-image {
            padding: 0px 10px 0px 10px;
            font-family: "Roboto Slab", serif;
            font-size: 12px;
            color: rgb(0, 171, 85);
            cursor: pointer;
            .box-icon {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                border-radius: 10px;
                .icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        #field-textarea {
            width: 500px;
            height: 120px;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            textarea {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                padding: 15px;
                resize: none;
            }
        }
        #field-button {
            width: 400px;
            display: flex;
            align-items: center;
            button {
                border: none;
                outline: none;
                background-color: rgb(0, 171, 85);
                color: white;
                width: 110px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                font-weight: bold;
                font-family: "Roboto Slab", serif;
                margin-right: 10px;
            }
            .box-icon {
                margin: 0px 3px 0px 3px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
                background-color: white;
                border-radius: 10px;
                .icon {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.modals,
.modals-close {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.modals-hidden {
    display: none;
    visibility: hidden;
}

.modals {
    animation: modals 2s forwards;
    cursor: pointer;
}

.modals-close {
    animation: modals-close 1s forwards;
}

@keyframes modals {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modals-close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modals-icon,
.modals-icon-close {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
    .group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h6 {
            font-weight: bold;
            font-family: "Roboto Slab", serif;
            cursor: default;
        }
        button {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: none;
            outline: none;
            box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            border-radius: 10px;
        }
    }
    .list-icon {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 180px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        button {
            margin: 3px;
            border: none;
            outline: none;
            background-color: transparent;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.modals-icon {
    animation: modals-icon 1s forwards;
}
.modals-icon-close {
    animation: modals-icon-close 1s forwards;
}

@keyframes modals-icon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modals-icon-close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// Background

.background {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    .background-content {
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        button {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            background-color: #ffffff9c;
            border-radius: 80px;
            i {
                font-size: 20px;
            }
        }
    }
    .group-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        button {
            border: none;
            outline: none;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 2px 0px 2px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
            transition: 500ms ease-in-out;
            &:hover {
                background-color: #ffffffcc;
            }
            .icon {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.arrow-left {
    cursor: pointer;
}

.arrow-left-close {
    cursor: no-drop;
}

.arrow-right {
    cursor: pointer;
}

.arrow-right {
    cursor: no-drop;
}
