.message,
.message-error,
.message-close {
    position: absolute;
    width: 420px;
    padding: 2px 10px 5px 10px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 500ms ease-in-out;
    .message-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 4px;
        button {
            border: none;
            outline: none;
            background-color: transparent;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color: white;
            }
        }
    }
    .message-content {
        font-size: 13px;
    }
}

.message,
.message-error {
    animation: message 1s forwards;
}

.message {
    background-color: #38c172d9;
}

.message-error {
    background-color: #ff0000bf;
}

.message-close {
    animation: message-close 1s forwards;
}

@keyframes message-close {
    from {
        right: 0;
        top: 5px;
    }
    to {
        opacity: 0;
    }
}

@keyframes message {
    from {
        right: -1200px;
        top: 5px;
    }
    to {
        right: 0;
        top: 5px;
    }
}

.message-hidden {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 427px) {
    .message {
        width: 100%;
    }
}
